/* .flexContainer {
  display: flex;
  align-content: space-around;

} */

#companyName {
 text-align: center;
  font-size: 50px;
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
  margin: -10px -10px 20px -10px;
}
/*
#hamburgerNav {
  display: inline-flex;
  align-self: left;
  max-height: 45px;
  max-width: 45px;
} */
